<div style="text-align:center"><h1>10 Minutes to Pandas</h1></div>
<div style="text-align:right"><b>Axect</b></div>
*****

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
s = pd.Series([1,3,5,np.nan,6,8]);
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [5]:
dates = pd.date_range("20130101", periods=6)

In [6]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'));
df

                   A         B         C         D
2013-01-01  1.465437 -0.248809  1.118560  1.216941
2013-01-02 -2.276907 -0.108219  1.456425  0.493136
2013-01-03  1.275808  1.454298  1.030111  0.133473
2013-01-04  1.043595  0.208142 -1.287898  0.649778
2013-01-05  0.550658 -0.149012 -0.939186  0.478197
2013-01-06 -0.696666 -0.616860  0.848131 -0.140148

In [8]:
df2 = pd.DataFrame({'A' : 1,
                   'B' : pd.Timestamp('20130202'),
                   'C' : pd.Series(1, index=list(range(4)), dtype='float64'),
                   'D' : np.array([3] * 4, dtype='int64'),
                   'E' : pd.Categorical(["test", "train", "test", "train"]),
                   'F' : 'foo'})

In [9]:
df2

   A          B    C  D      E    F
0  1 2013-02-02  1.0  3   test  foo
1  1 2013-02-02  1.0  3  train  foo
2  1 2013-02-02  1.0  3   test  foo
3  1 2013-02-02  1.0  3  train  foo

In [10]:
df2.dtypes

A             int64
B    datetime64[ns]
C           float64
D             int64
E          category
F            object
dtype: object

In [12]:
df.head()

                   A         B         C         D
2013-01-01  1.465437 -0.248809  1.118560  1.216941
2013-01-02 -2.276907 -0.108219  1.456425  0.493136
2013-01-03  1.275808  1.454298  1.030111  0.133473
2013-01-04  1.043595  0.208142 -1.287898  0.649778
2013-01-05  0.550658 -0.149012 -0.939186  0.478197

In [13]:
df.tail(3)

                   A         B         C         D
2013-01-04  1.043595  0.208142 -1.287898  0.649778
2013-01-05  0.550658 -0.149012 -0.939186  0.478197
2013-01-06 -0.696666 -0.616860  0.848131 -0.140148

In [15]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [16]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [17]:
df.values

array([[ 1.46543659, -0.24880851,  1.11855991,  1.21694108],
       [-2.27690736, -0.10821944,  1.45642524,  0.49313617],
       [ 1.2758083 ,  1.45429751,  1.03011133,  0.13347318],
       [ 1.04359505,  0.2081416 , -1.28789814,  0.649778  ],
       [ 0.55065775, -0.14901217, -0.93918643,  0.47819739],
       [-0.696666  , -0.61685969,  0.84813084, -0.14014837]])

In [18]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.226987  0.089923  0.371024  0.471896
std    1.451070  0.719184  1.171973  0.463973
min   -2.276907 -0.616860 -1.287898 -0.140148
25%   -0.384835 -0.223859 -0.492357  0.219654
50%    0.797126 -0.128616  0.939121  0.485667
75%    1.217755  0.129051  1.096448  0.610618
max    1.465437  1.454298  1.456425  1.216941

In [19]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    1.465437   -2.276907    1.275808    1.043595    0.550658   -0.696666
B   -0.248809   -0.108219    1.454298    0.208142   -0.149012   -0.616860
C    1.118560    1.456425    1.030111   -1.287898   -0.939186    0.848131
D    1.216941    0.493136    0.133473    0.649778    0.478197   -0.140148

In [20]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01  1.216941  1.118560 -0.248809  1.465437
2013-01-02  0.493136  1.456425 -0.108219 -2.276907
2013-01-03  0.133473  1.030111  1.454298  1.275808
2013-01-04  0.649778 -1.287898  0.208142  1.043595
2013-01-05  0.478197 -0.939186 -0.149012  0.550658
2013-01-06 -0.140148  0.848131 -0.616860 -0.696666

In [21]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-06 -0.696666 -0.616860  0.848131 -0.140148
2013-01-01  1.465437 -0.248809  1.118560  1.216941
2013-01-05  0.550658 -0.149012 -0.939186  0.478197
2013-01-02 -2.276907 -0.108219  1.456425  0.493136
2013-01-04  1.043595  0.208142 -1.287898  0.649778
2013-01-03  1.275808  1.454298  1.030111  0.133473

In [22]:
df['A']

2013-01-01    1.465437
2013-01-02   -2.276907
2013-01-03    1.275808
2013-01-04    1.043595
2013-01-05    0.550658
2013-01-06   -0.696666
Freq: D, Name: A, dtype: float64

In [23]:
df[0:3]

                   A         B         C         D
2013-01-01  1.465437 -0.248809  1.118560  1.216941
2013-01-02 -2.276907 -0.108219  1.456425  0.493136
2013-01-03  1.275808  1.454298  1.030111  0.133473

In [24]:
df[df.A > 0]

                   A         B         C         D
2013-01-01  1.465437 -0.248809  1.118560  1.216941
2013-01-03  1.275808  1.454298  1.030111  0.133473
2013-01-04  1.043595  0.208142 -1.287898  0.649778
2013-01-05  0.550658 -0.149012 -0.939186  0.478197

In [25]:
df[df > 0]

                   A         B         C         D
2013-01-01  1.465437       NaN  1.118560  1.216941
2013-01-02       NaN       NaN  1.456425  0.493136
2013-01-03  1.275808  1.454298  1.030111  0.133473
2013-01-04  1.043595  0.208142       NaN  0.649778
2013-01-05  0.550658       NaN       NaN  0.478197
2013-01-06       NaN       NaN  0.848131       NaN

In [26]:
df.mean()

A    0.226987
B    0.089923
C    0.371024
D    0.471896
dtype: float64

In [27]:
df.mean(1)

2013-01-01    0.888032
2013-01-02   -0.108891
2013-01-03    0.973423
2013-01-04    0.153404
2013-01-05   -0.014836
2013-01-06   -0.151386
Freq: D, dtype: float64