In [1]:
import pandas as pd

In [2]:
pd.Series([42, 43, 44], dtype = 'f8')

0    42.0
1    43.0
2    44.0
dtype: float64

In [3]:
s = pd.Series([42, 43, 44], 
              index = ["electron",
                      "proton",
                      "neutron"])

In [4]:
s

electron    42
proton      43
neutron     44
dtype: int64

In [5]:
s['electron']

42

In [6]:
s['electron':'proton']

electron    42
proton      43
dtype: int64

In [7]:
s[1:]

proton     43
neutron    44
dtype: int64

In [25]:
t = pd.Series({'electron' : 6,
              'neutron' : 28,
              'proton' : 496,
              'neutrino' : 8128})

In [26]:
t

electron       6
neutrino    8128
neutron       28
proton       496
dtype: int64

In [27]:
s + t

electron     48.0
neutrino      NaN
neutron      72.0
proton      539.0
dtype: float64

In [28]:
df = pd.DataFrame({'S' : s, 'T' : t})

In [29]:
df

             S     T
electron  42.0     6
neutrino   NaN  8128
neutron   44.0    28
proton    43.0   496

In [13]:
df [::2]

             S   T
electron  42.0   6
neutron   44.0  28

In [14]:
dg = df.append(pd.DataFrame({'S' : [-8128]},
                           index = ['antineutrino']))

In [15]:
dg

                   S       T
electron        42.0     6.0
neutrino         NaN  8128.0
neutron         44.0    28.0
proton          43.0   496.0
antineutrino -8128.0     NaN

In [16]:
dh = dg.drop('neutron')
dh

                   S       T
electron        42.0     6.0
neutrino         NaN  8128.0
proton          43.0   496.0
antineutrino -8128.0     NaN

In [17]:
df.T # Transverse

   electron  neutrino  neutron  proton
S      42.0       NaN     44.0    43.0
T       6.0    8128.0     28.0   496.0

In [18]:
df < 42

              S      T
electron  False   True
neutrino  False  False
neutron   False   True
proton    False  False

In [19]:
s & t

electron    False
neutrino    False
neutron     False
proton       True
dtype: bool